name: 'Build / Test / Artifacts'
on:
  push:
    branches:
      - master
      - release/**
  pull_request:
  workflow_call:

concurrency:
  group: ${{ github.ref_name || github.sha }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        node: ['20','22']
    name: Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      - uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3
        with:
          node-version: '${{ matrix.node }}'
      - uses: actions/cache@2f8e54208210a422b2efd51efaa6bd6d7ca8920f # v3
        id: cache
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('package.json', 'yarn.lock') }}
      - name: Install Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile
      - name: Test
        run: yarn test

  artifacts:
    name: Artifacts Upload
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      - uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3
        with:
          node-version-file: package.json
      - uses: actions/cache@2f8e54208210a422b2efd51efaa6bd6d7ca8920f # v3
        id: cache
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('package.json', 'yarn.lock') }}
      - name: Install Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile
      - name: Build
        run: yarn build --define:process.env.CRAFT_BUILD_SHA='"'${{ github.sha }}'"'
      - name: Smoke Test
        run: ./dist/craft --help
      - name: NPM Pack
        run: npm pack
      - name: Build Docs
        working-directory: docs
        run: |
          yarn install --frozen-lockfile
          yarn build
      - name: Package Docs
        run: |
          cp .nojekyll docs/dist/
          cd docs/dist && zip -r ../../gh-pages.zip .
      - name: Archive Artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: ${{ github.sha }}
          path: |
            ${{ github.workspace }}/gh-pages.zip
            ${{ github.workspace }}/*.tgz
            ${{ github.workspace }}/dist/craft
