name: 'Lint'
on:
  pull_request:
    branches: [master]

jobs:
  lint:
    name: Lint fixes
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3
        with:
          node-version-file: package.json
      - name: Get pnpm version from Volta config
        id: pnpm-version
        run: echo "version=$(jq -r '.volta.pnpm' package.json)" >> $GITHUB_OUTPUT
      - uses: pnpm/action-setup@v4
        with:
          version: ${{ steps.pnpm-version.outputs.version }}
      - uses: actions/cache@2f8e54208210a422b2efd51efaa6bd6d7ca8920f # v3
        id: cache
        with:
          path: |
            node_modules
            .eslintcache
          key: ${{ runner.os }}-${{ hashFiles('package.json', 'pnpm-lock.yaml') }}
      - name: Install Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: pnpm install --frozen-lockfile
      - name: Lint
        run: pnpm lint -f github-annotations
