name: Release
concurrency: ${{ github.workflow }}-${{ github.ref }}
on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to release
        required: true
        default: "auto"
      force:
        description: Force a release even when there are release-blockers (optional)
        required: false
      craft_version:
        description: Craft version to use for the release

jobs:
  release:
    runs-on: ubuntu-latest
    name: 'Release a new version'
    permissions:
      contents: write
    steps:
      - name: Get auth token
        id: token
        uses: actions/create-github-app-token@5d869da34e18e7287c1daad50e0b8ea0f506ce69 # v1.11.0
        with:
          app-id: ${{ vars.SENTRY_RELEASE_BOT_CLIENT_ID }}
          private-key: ${{ secrets.SENTRY_RELEASE_BOT_PRIVATE_KEY }}
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          # Fetch all commits so we can determine previous version
          token: ${{ steps.token.outputs.token }}
          fetch-depth: 0
      - name: Prepare release
        uses: getsentry/action-prepare-release@c8e1c2009ab08259029170132c384f03c1064c0e # v1
        env:
          GITHUB_TOKEN: ${{ steps.token.outputs.token }}
        with:
          version: ${{ github.event.inputs.version }}
          force: ${{ github.event.inputs.force }}
          craft_version: ${{ github.event.inputs.craft_version }}
